<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <form action="/quiz" method="post">
        <div class="Quiz_Title">
          문제 <%= quiz_key.Pid %>번
          <input type="number" id="Pid" name="Pid" value="<%= quiz_key.Pid %>" style="display:none;" readonly>
        </div>
        <div class="user_info_wrap">
          <% if(isAuthenticated){ %>
            <%= currentUser.nickname %> 님의 맞춘 문제 수 : <%= currentUser.score %>
          <%} else { %>
            <a href="/users/login" style="text-decoration:none;color:#8D879D;">맞춘 문제를 보려면 로그인</a>
          <% } %>
        </div>

        <div class="image">
          <img src="/quiz_image/<%= quiz_key.Pid + "." + quiz_key.ext %>" alt="문제 사진이 보이지 않을 시 문의 바랍니다.">
        </div>

        <div class="comment">
            설명 : <%= quiz_key.comment %>
        </div>

        <div class="input">
            <input type="text" id="answer" name="answer" class="answer" placeholder="이름을 입력하세요.">
        </div>

        <div class="BtnWrap">
        <button class="Btn SendBtn" type="submit">제출!</button>
        </form>
        <button class="Btn ReloadBtn" onclick="location.href='/quiz'" type="button">↻ 다른 문제</button>
        </div>

        <div class="Hint">
          <ul>
            <li> 답은 한 개만 입력하세요. </li>
            <li> 한글로 입력하세요. </li>
            <li> 풀지 않은 문제만 풀려면 로그인 </li>
          </ul>
        </div>
    </div>
</body>
</html>
