<!DOCTYPE html>
<html>
<head>
    <%- include('../partials/master_head') %>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body>
    <div class="main_square">
      <form action="/quiz/unsolved" method="post">
        <div class="Quiz_Title">
          문제 <%= quiz_key.Pid %>번
          <input type="number" id="Pid" name="Pid" value="<%= quiz_key.Pid %>" style="display:none;" readonly>
        </div>
        <div class="user_info_wrap">
            <a href="/users/<%= currentUser.user_id %>/edit" style="color:white;"><%= currentUser.nickname %></a> 님의 맞춘 문제 수 : <%= currentUser.solved.length %> <a href="/users/logout" class="logout">로그아웃</a>
          <div class="Ranking_Mode_Wrap">
               <button type="button" class="Btn Ranking_Mode_Btn" style="background-color:#3CC9FF;" onclick="location.href='/quiz'">일반 모드로</button>
            <button type="button" class="Btn Ranking_Mode_Btn right" onclick="location.href='/users/ranking'">♕ 랭킹보기</button>
          </div>
        </div>

        <div>
          <img src="/quiz_image/<%= quiz_key.Pid + "." + quiz_key.ext %>" alt="문제 사진이 보이지 않을 시 문의 바랍니다.">
        </div>

        <div class="comment">
            설명 : <%= quiz_key.comment %>
        </div>

        <div class="input">
            <input type="text" id="answer" name="answer" class="answer" placeholder="이름을 입력하세요.">
        </div>

        <div class="BtnWrap">
        <button class="Btn Unsolved_SendBtn" type="submit">제출!</button>
        </form>
        <button class="Btn ReloadBtn" onclick="location.href='/quiz/unsolved'" type="button">↻ 다른 문제</button>
        </div>

        <div class="Hint">
          <ul>
            <li> 답은 한글로 입력하세요. </li>
            <li> 답은 여러 개일 수 있지만 그 중 하나만 입력해야 정답 인정이 됩니다. </li>
            <li> 공백은 무시됩니다. </li>
            <li> 이미 맞춘 문제는 채점되지 않습니다. </li>
          </ul>
        </div>
    </div>
</body>
</html>
